<ion-header>
  <ion-toolbar>
    <ion-title>Tecnologies</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Tecnologies and Frameworks I will be using to develop this Project.</h1>
<h2><u><b>HTML:</b></u></h2>
  <p>I have used HTML in my previous course. HTML was one of my strong side reason I started on it and I love it that its useful even now.</p>
  <h2><u><b>CSS:</b></u></h2>
  <p>I have used CSS in my previous course. Still learning it but can work around it.</p>
  <h2><u><b>JQuery:</b></u></h2>
  <h2><u><b>JQuery Mobile:</b></u></h2>
  <h2><u><b>Javascript:</b></u></h2>
  <h2><u><b>API:</b></u></h2>
  <h2><u><b>Visual Studio Code:</b></u></h2>
  <h2><u><b>Chrome:</b></u></h2>
</ion-content>
