<ion-header>
  <ion-toolbar>
    <ion-title>Personas</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<img id="image6" expand="block" alt="Sam Pic" src="assets/img/img6.png" />
    
<p>Sam lives in London and work Monday to Friday 8am to 5pm. Sam lives alone in his apartment. Due to weather change one day Sam got sick and no one was there to take him to doctor. So Sam called his friend to help him. His friend told him to download O! Doc and see if he can find the doctor there as he is out of the city.</p>
<ul>
<li><h1> Sam downloaded the application and installed it.</h1></li>
<li><h1>After that he signed up.</h1></li>
<li><h1>Sam chose the doctor type.</h1></li>
<li><h1>Then selected Dr Bob.</h1></li>
<li><h1>Sam talk with DR Bob and set a time for appointment.</h1></li>
<li><h1>Sam talk with Dr Bob and tell him his issue and Dr Bob advise him how can he get healthy.</h1></li>
<li><h1>Later on Sam wanted to update his email address and phone number so he went to the settings and did.</h1></li>
</ul>

<img id="image10" expand="block" alt="DR Bob Pic" src="assets/img/img10.png" />
<p>Dr Bob lives in Canada. He is 46 years old and been the Dr for last 15 years. He wanted to help people in the current conditions and wanted to use the technology for it. Dr Bob looked for the option and came across the application O! Doc.</p>
<ul>
<li><h1>DR Bob downloaded the application and installed it.</h1></li>
<li><h1>After that he signed up.</h1></li>
<li><h1>DR Bob registered as Dr in the application. </h1></li>
<li><h1>Dr Bob received the message from Sam for appointment.</h1></li>
<li><h1>After the appointment time was decided Dr Bob sent the message to Sam at the appointment time from the O! Doc application. </h1></li>
<li><h1>DR Bob advised Sam about his conditions. </h1></li>
<li><h1>Later on DR Bob wanted to update his email address and phone number so he went to the settings and did. </h1></li>

</ul>

</ion-content>