<ion-header>
  <ion-toolbar>
    <ion-title>Personas</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<img src="assets/img/img6.png" alt="Sam Pic"/>
<p>Sam lives in London and work Monday to Friday 8am to 5pm. Sam lives alone in his apartment. Due to weather change one day Sam got sick and no one was there to take him to doctor. So Sam called his friend to help him. His friend told him to download O! Doc and see if he can find the doctor there as he is out of the city.</p>
<ul>
<li><h1> Sam downloaded the application and installed it.</h1></li>
<li><h1>After that he signed up.</h1></li>
<li><h1>Sam chose the doctor type.</h1></li>
<li><h1>Then selected Dr Bob.</h1></li>
<li><h1>Booked an appointment with Dr Bob.</h1></li>
<li><h1>When his appointment time start Sam received a message from Dr Bob.</h1></li>
<li><h1>Sam talk with Dr Bob and tell him his issue and Dr Bob advise him how can he get healthy.</h1></li>
<li><h1>Later on Sam wanted to update his email address and phone number so he went to the settings and did.</h1></li>
</ul>
</ion-content>
