<ion-header>
  <ion-toolbar>
    <ion-title>Personas</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<img src="assets/img/img6.png" alt="Sam Pic"/>
<p>Sam lives in London and he meet his old friend who told him about this new chat application. Sam friend told him that he will be waiting for him to be on this chat application when he go back home.</p>
<ul>
<li><h1> Sam go back home and download this app.</h1></li>
<li><h1>He open the application and Log-in</h1></li>
<li><h1>Once he is loged in he search his friend number.</h1></li>
<li><h1>He send his friend a Big Fun Animated emoje.</h1></li>
<li><h1>After chatting for while he thought about looking for other feachers of the application, He go on Status tab.</h1></li>
<li><h1>On status tab he upload multiple status. 1 picture and 1 text based status.</h1></li>
<li><h1>Sam wanted to have a group chat with all other friends of his, so he clicked group option and made a group of his liking.</h1></li>
<li><h1>Sam friend also told him how to change the background of the chat, so he went to setting and change the background.</h1></li>
<li><h1>Sam dont like the notification from multiple chats so he muted the chats he wanted to ignore at the time.</h1></li>
</ul>

</ion-content>
