<ion-header>
  <ion-toolbar>
    <ion-title>Sketches</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img id="open-modal" expand="block" alt="img number 1" src="assets/img/img1.png" />
    <ion-modal #modal trigger="open-modal">
      <ng-template>
        <ion-button (click)="modal.dismiss()">Close</ion-button>
          <img alt="img number 1" src="assets/img/img1.png" />
      </ng-template>
    </ion-modal>
    <ion-card-header>
      <ion-card-title>Inbox</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Inbox tab where all the contact messages can be previewed.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img id="open-modal1" expand="block" alt="img number 2" src="assets/img/img2.png" />
    <ion-modal #modal trigger="open-modal1">
      <ng-template>
        <ion-button (click)="modal.dismiss()">Close</ion-button>
          <img alt="img number 2" src="assets/img/img2.png" />
      </ng-template>
    </ion-modal>
    <ion-card-header>
      <ion-card-title>Inbox</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Inbox tab where all the contact messages can be previewed.
    </ion-card-content>
  </ion-card>
</ion-content>
