<ion-header>
  <ion-toolbar>
    <ion-title>Sketches</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img id="image8" expand="block" src="assets/img/img8.png" alt="Img number 8"/>
      <ion-modal #modal8 trigger="image8">
        <ng-template>
          <ion-button (click)="modal8.dismiss()">Close</ion-button>
            <img alt="img number 8" src="assets/img/img8.png"/>
        </ng-template>
      </ion-modal>
  </ion-card>
  <ion-card>
    <img id="image1" expand="block" alt="img number 1" src="assets/img/img1.png" />
    <ion-modal #modal1 trigger="image1">
      <ng-template>
        <ion-button (click)="modal1.dismiss()">Close</ion-button>
          <img alt="img number 1" src="assets/img/img1.png" />
      </ng-template>
    </ion-modal>
    <ion-card-header>
      <ion-card-title>Inbox</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Inbox tab where all the contact messages can be previewed.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img id="image2" expand="block" alt="img number 2" src="assets/img/img2.png" />
    <ion-modal #modal2 trigger="image2">
      <ng-template>
        <ion-button (click)="modal2.dismiss()">Close</ion-button>
          <img alt="img number 2" src="assets/img/img2.png" />
      </ng-template>
    </ion-modal>
    <ion-card-header>
      <ion-card-title>Chat</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Window to chat with prefered contact.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img id="image3" expand="block" alt="img number 3" src="assets/img/img3.png" />
    <ion-modal #modal3 trigger="image3">
      <ng-template>
        <ion-button (click)="modal3.dismiss()">Close</ion-button>
          <img alt="img number 2" src="assets/img/img3.png" />
      </ng-template>
    </ion-modal>
    <ion-card-header>
      <ion-card-title>Profile</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Shows your Picture, Name & About.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img id="image4" expand="block" alt="img number 4" src="assets/img/img4.png" />
    <ion-modal #modal4 trigger="image4">
      <ng-template>
        <ion-button (click)="modal4.dismiss()">Close</ion-button>
          <img alt="img number 2" src="assets/img/img4.png" />
      </ng-template>
    </ion-modal>
    <ion-card-header>
      <ion-card-title>Setting</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Window where you can update your Theme, notification and many other things of the application.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img id="image5" expand="block" alt="img number 4" src="assets/img/img7.png" />
    <ion-modal #modal5 trigger="image4">
      <ng-template>
        <ion-button (click)="modal4.dismiss()">Close</ion-button>
          <img alt="img number 5" src="assets/img/img7.png" />
      </ng-template>
    </ion-modal>
    <ion-card-header>
      <ion-card-title>Status</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Show others status and can upload your own.
    </ion-card-content>
  </ion-card>
</ion-content>
