ion-content {
    --background: rgb(10, 10, 10);
}
h2 {
    color: rgb(59, 3, 3);
    margin-left: 5px;
    color: bisque;
}
h1 {
    margin: 5px;
    font-style: italic;
    font-size: medium;
    color: white;
}
p {
    font-size: medium;
    margin: 20px;
    margin-top: 10px;
    color: white;
    font-style: italic;
}
ul {
    color: white;
}
header {
    color:Red;
    margin-left: 150px;
    font-size: x-large;
    margin-top: 10px;
}
ion-toolbar {
    --background: rgb(0, 255, 242);
  }