<ion-header>
  <ion-toolbar>
    <ion-title>Critique</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <header>Whatsapp</header>
  <p>Today I will be talking about Whatsapp Pros and Cons as this application is being used world wide and the idea to my application also came from Whatsapp.</p>
  <h2>Pros</h2>
  <ul>
    <li><h1>User-Friendly</h1></li>
    <li><h1>Audio And Video Calling</h1></li>
    <li><h1>End-to-End Encryption</h1></li>
    <li><h1>Ads Free</h1></li>
    <li><h1>Free Of Cost</h1></li>
    <li><h1>Delivery Status</h1></li>
    <li><h1>Groups</h1></li>
  </ul>
  <h2>Cons</h2>
  <ul>
    <li><h1>WhatsApp Calling Limitation</h1></li>
    <li><h1>File Size limit</h1></li>
    <li><h1>No Animated Stickers</h1></li>
    <li><h1>Deleted Messages Leave A Trace</h1></li>
    <li><h1>Can Be Hacked</h1></li>
  </ul>
</ion-content>
