<ion-header>
  <ion-toolbar>
    <ion-title>Critique</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-modal #modal11 trigger="image11">
  <ng-template>
    <ion-button (click)="modal11.dismiss()">Close</ion-button>
      <img class="center" alt="img number 11" src="assets/img/img11.png"/>
  </ng-template>
</ion-modal>
<ion-modal #modal12 trigger="image12">
  <ng-template>
    <ion-button (click)="modal12.dismiss()">Close</ion-button>
      <img class="center" alt="img number 11" src="assets/img/img12.png"/>
  </ng-template>
</ion-modal>
<ion-content>
  <ion-card>
    <img id="image11" expand="block" src="assets/img/img11.png" alt="Img number 11"/>
      <ion-card-header>
        <ion-card-title>zocdoc</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Today I will talk about Zocdoc, an application which is being used to book appointments with doctors and then go to there office for the appointments. 
      </ion-card-content>
  </ion-card>
  <h2>Pros</h2>
  <ul>
    <li><h1>ZocDoc puts together a list of participating doctors that are near your location-wise.</h1></li>
    <li><h1>Another neat feature is that ZocDoc saves your profile and all of your past booking information.</h1></li>
    <li><h1>End-to-End Encryption.</h1></li>
    <li><h1>Patients can book appointments at all hours of the day.</h1></li>
    <li><h1>The main benefit for doctors to use ZocDoc is that it is a form of marketing to help bring in new patients.</h1></li>
    <li><h1>Shows Doctors profile.</h1></li>
    <li><h1>Dose check insurance before appointment booking.</h1></li>
  </ul>
  <h2>Cons</h2>
  <ul>
    <li><h1>No Chat option</h1></li>
    <li><h1>Appointment timings are not matched with what is shown.</h1></li>
    <li><h1>Appointments being double booked which creates mess.</h1></li>
    <li><h1>Do not have wide range of doctors</h1></li>
    <li><h1>Can Be Hacked</h1></li>
    <li><h1>No Sign-out</h1></li>
  </ul>
  <p>The Idea is to provide people services through chat and provide people a way to save their earnings rather than taking money from them for every action on application just to later find the appointment was cancelled.</p>
  <ion-card>
    <img id="image12" expand="block" src="assets/img/img12.png" alt="Img number 12"/>
      <ion-card-header>
        <ion-card-title>Dr on Demand</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Today I will talk about Zocdoc, an application which is being used to book appointments with doctors and then go to there office for the appointments. 
      </ion-card-content>
  </ion-card>
</ion-content>


<!-- margin-bottom: 50%;; (img modal ky andar jo h ) -->