<ion-app>
  <ion-menu menuId="main-menu" content-id="main">
    <ion-header>
      <ion-toolbar>
        <ion-title><b>Menu</b></ion-title>
        <ion-button routerLink="/home" slot="end">
          <ion-icon slot="icon-only" name="home"></ion-icon>
        </ion-button>
      </ion-toolbar>
    </ion-header>
   <ion-content>
      <ion-list>
        <ion-menu-toggle>
         <ion-item routerLink="/goal">
            <ion-icon name="rocket" slot="start"></ion-icon>
            <ion-label>Goal</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="personas">
            <ion-icon name="people" slot="start"> </ion-icon>
            <ion-label>Personas</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="sketches">
            <ion-icon name="images" slot="start"> </ion-icon>
            <ion-label>Sketches</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="critique">
            <ion-icon name="logo-android" slot="start"> </ion-icon>
            <ion-label>Critique</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="tecnologies">
            <ion-icon name="telescope" slot="start"> </ion-icon>
            <ion-label>Tecnologies</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="user">
            <ion-icon name="person" slot="start"> </ion-icon>
            <ion-label>My Profile</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>