h2 {
    color: rgb(59, 3, 3);
    margin-left: 5px;
    
}
h1 {
    margin: 5px;
    font-style: italic;
    font-size: medium;
}
p {
    font-size: medium;
    margin: 5px;
   
    font-style: italic;
}
header{
    font-size: x-large;
    margin-left: 100px;
    color: red;
}
