<ion-header>
  <ion-toolbar>
    <ion-title><b>Goal</b></ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <header>Goal of the Final App</header>
<p>The goal of the final application is to be user-friendly were a user can have appointment with a doctor through app and talk to doctor on a chat. </p>
  <h2>Main Goal</h2>
 <ol>
    <li><h1>Fast and easy way to get doctor appointment.</h1></li>
    <li><h1>No physical need to go to doctor office and appointment can be done on application.</h1></li>
    <li><h1>Different type of doctors for different issues (Doctors List).</h1></li>
    <li><h1>Search bar to look for specific doctor.</h1></li>
    <li><h1>Talk to Doctors in chat and get healty.</h1></li>
 </ol>
  <h2>Sub Goal</h2>
  <ol>
    <li><h1>User can upload profile picture.</h1></li>
    <li><h1>send images via chat.</h1></li>
  </ol>
  <p>Due to Covid 19 still in effect in few contries having a doctor access via chat can safe many lifes.</p>
</ion-content>