<ion-header>
  <ion-toolbar>
    <ion-title><b>Goal</b></ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<h3>As of on by looking the home page you have figure it out that its a chat application, But what are the goals behind this chat application.</h3>
  <h2>Main Goal</h2>
 <ol>
    <li><h1>Have 2 users chating with each other from anywere in the world.</h1></li>
    <li><h1>Group Chats where more then 2 peole can chat togather in 1 place.</h1></li>
    <li><h1>Status tab which can show the image or text by the user.</h1></li>
 </ol>
  <h2>Sub Goal</h2>
  <h1>Provide people with the wide verity of fun emotes while they are chatting so they express them self.</h1>
</ion-content>