<ion-header>
  <ion-toolbar>
    <ion-title><b>Goal</b></ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <header>Goal of the Final App</header>
<p>The goal of the final application is to be user-frindly were they can chat with other users can see others status or set there own status.</p>
  <h2>Main Goal</h2>
 <ol>
    <li><h1>Personal Chats where 2 users chating with each other from anywere in the world.</h1></li>
    <li><h1>Group Chats where more then 2 peole can chat togather in 1 place.</h1></li>
    <li><h1>Status tab which can show the image or text by the user.</h1></li>
    <li><h1>User will be able to use search tab to look for any friend or family member to chat with.</h1></li>
 </ol>
  <h2>Sub Goal</h2>
  <ul>
    <li><h1>Provide people with the wide verity of fun emotes while they are chatting so they can express them self.</h1></li>
    <li><h1>User can upload profile picture.</h1></li>
    <li><h1>send images via chat.</h1></li>
  </ul>
</ion-content>