* {
  font-weight: 300;
}

ion-content {
  --background: rgb(10, 10, 10);
}
ion-text {
  position: absolute;
  top: 20%;
  color: white;
  font-family: Arial, sans-serif;
  h1 {
    font-size: 70px;
    margin-left: 50px;
  }
}
img {
  margin-top: 175px;
  margin-left: 10px;
}